<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 border border-info rounded shadow px-5 py-4 mt-auto"
            style="position: absolute; top:50%; transform: translate(0, -50%)">
            <h2 class="text-center text-primary">Login</h2>
            <hr>

            <div class="d-flex justify-content-center">
                <asl-google-signin-button type="standard" size="large" class="m-auto"></asl-google-signin-button>
            </div>

            <p class="horizontal-line-text">
                <span>or</span>
            </p>

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error_message">
                <strong>Holy guacamole!</strong> {{ error_message }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
                <table class="m-auto" cellpadding="5">

                    <tr class="d-flex justify-content-between align-items-center">
                        <td><label for="id_username">Email:</label></td>
                        <td>
                            <input type="email" class="form-control" placeholder="Enter your email" required
                                id="id_email" formControlName="email">

                            <small *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                                class="text-danger">
                                Enter a valid email address
                            </small>
                        </td>
                    </tr>

                    <tr class="d-flex justify-content-between align-items-center">
                        <td><label for="id_password">Password:</label></td>
                        <td>
                            <input type="password" name="password" class="form-control" placeholder="Password" required
                                id="id_password" formControlName="password">
                            <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                                class="text-danger">
                                Enter a valid password
                            </small>
                        </td>
                    </tr>

                </table>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-4 mb-2 px-5" value="Login"><br>
                    <a routerLink="/register" class="text-decoration-none">
                        <span>Create an account</span>
                    </a><br>
                    <a routerLink="/password-reset" class="text-decoration-none">
                        <span>Forgot password?</span>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>