<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex position-absolute start-50 translate-middle mt-4">
    </div>
    <div class="row mx-2">
        <div class="d-md-flex justify-content-around">
            <div class="mx-2">
                <h3>{{ post?.title }}</h3>
                <p class="text-muted">by&nbsp;<span class="text-info">Dr&nbsp;{{ post?.author.first_name }}&nbsp;{{
                        post?.author.last_name }}</span></p>
                <p class="text-capitalize text-muted">{{ post?.date | date:'shortDate' }}</p>


                <div *ngIf="like?.message == 'liked'" class="d-flex align-items-center">
                    <small class="text-muted">You can dislike this post here..!</small>
                    <a class="btn btn-sm btn-danger m-3" (click)="like_or_dislike(post?.id)">
                        Dislike
                    </a>
                </div>
                <div *ngIf="like?.message == 'not liked'" class="d-flex align-items-center">
                    <small class="text-muted">You can like this post here..!</small>
                    <a class="btn btn-sm btn-success m-3" (click)="like_or_dislike(post?.id)">
                        Like
                    </a>
                </div>


            </div>
            <div class="mr-md-3">
                <img *ngIf="post?.image" src="{{ post?.image }}" alt="" style="max-height: 220px;">
                <img *ngIf="!post?.image" [src]="'assets/images/blog.jpg'" alt="" style="max-height: 220px">
            </div>
        </div>
        <div class="row mx-md-5 mt-3">
            <p style="text-indent: 200px;">{{ post?.content }}</p>
        </div>
    </div>

</div>