<header class="p-3 mb-3 border-bottom sticky-top bg-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="/patient/home"
                class="p-2 border rounded d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <i class="fa fa-home"></i>
                Home
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="mx-2">
                    <a routerLink="/patient/profile"
                        class="nav-link px-2 link-primary border-bottom border-success border-4 rounded">Profile</a>
                </li>
                <li class="mx-2">
                    <a routerLink="/patient/blogs"
                        class="nav-link px-2 link-primary border-bottom border-success border-4 rounded">Blogs</a>
                </li>
                <li class="mx-2">
                    <a routerLink="/patient/appointments"
                        class="nav-link px-2 link-primary border-bottom border-success border-4 rounded">Appointments</a>
                </li>
            </ul>


            <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0 align-items-center">
                <li>Hi {{user?.get_full_name}}</li>
                <li><button (click)="logout()" class="btn btn-outline-success mx-3">Logout</button></li>
            </ul>

        </div>
    </div>
</header>

<router-outlet></router-outlet>