<app-pt-navbar></app-pt-navbar>

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Update {{ member?.relation }}</h2>

    <div class="row px-5">
        <div class="col-lg-3 col-md-6 border rounded py-3">

            <form [formGroup]="memberForm " (ngSubmit)="updateMember() ">
                <table class="m-auto " cellpadding="5 ">
                    <tr class="d-flex justify-content-between align-items-center">
                        <td>Relation</td>
                        <td><input required type="text" formControlName="relation" placeholder="eg: Father"
                                class="form-control"></td>
                    </tr>
                    <tr class="d-flex justify-content-between align-items-center">
                        <td>Name</td>
                        <td><input required type="text" formControlName="name" placeholder="Name " class="form-control">
                        </td>
                    </tr>
                    <tr class="d-flex justify-content-between align-items-center">
                        <td>Age</td>
                        <td><input required type="number" formControlName="age" placeholder="Age" class="form-control">
                        </td>
                    </tr>
                    <hr>
                    <tr>
                        <td class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Delete {{ member?.relation }}
                            </a>
                            <button type="submit " class="btn btn-primary ">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#ff4f42 ">Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to want to delete {{ member?.name }}?</h5>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
                    <a (click)="deleteMember(member?.id)" data-bs-dismiss="modal">
                        <button type="submit" class="btn btn-primary">Yes. Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
