<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex">
        <h2 class="pb-2 border-bottom">Profile</h2>

    </div>
    <div class="row px-5">
        <div class="col-lg-4 px-md-3 mt-3">
            <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning ">Account
            </h5>
            <div>
                <table cellpadding="5 " class="m-auto ">
                    <tr class="d-flex justify-content-between ">
                        <td>Name:</td>
                        <td>{{ user?.get_full_name }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Username:</td>
                        <td>{{ user?.username }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Gender:</td>
                        <td style="text-transform: capitalize; ">{{ user?.gender }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Email:</td>
                        <td>{{ user?.email }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Phone:</td>
                        <td>8086183640</td>
                    </tr>
                </table>
                <a routerLink="/patient/update-user/" class="text-decoration-none">
                    <h6 class="text-center border mx-5 px-3 py-2 shadow rounded border-info ">Update
                    </h6>
                </a>
            </div>
        </div>


    </div>
</div>