<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex">
        <h2 class="pb-2 border-bottom">Profile</h2>

    </div>
    <div class="row px-5">
        <div class="col-lg-4 px-md-3 mt-3">
            <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning ">Account
            </h5>
            <div>
                <table cellpadding="5 " class="m-auto ">
                    <tr class="d-flex justify-content-between ">
                        <td>Name:</td>
                        <td>{{ user?.get_full_name }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Username:</td>
                        <td>{{ user?.username }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Gender:</td>
                        <td style="text-transform: capitalize; ">{{ user?.gender }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Email:</td>
                        <td>{{ user?.email }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between ">
                        <td>Phone:</td>
                        <td>8086183640</td>
                    </tr>
                </table>
                <a routerLink="/patient/update-user/" class="text-decoration-none">
                    <h6 class="text-center border mx-5 px-3 py-2 shadow rounded border-info">Update
                    </h6>
                </a>
            </div>
        </div>

        <div class="col-lg-4 px-md-3 mt-3 text-center" [hidden]="passwordForm">
            <button class="btn btn-warning" (click)="toggleForm()" [hidden]="passwordForm">
                Change Password
            </button>
        </div>

        <div class="col-lg-4 px-md-3 mt-3 text-center" [hidden]="!passwordForm">
            <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning ">
                Change Password
            </h5>
            <div>
                <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
                    <table class="m-auto" cellpadding="5">
                        <tr class="d-flex justify-content-between align-items-center">
                            <td>Old Password :</td>
                            <td>
                                <input required type="password" formControlName="oldPassword" class="form-control">
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between align-items-center">
                            <td>New Password :</td>
                            <td><input required type="password" formControlName="newPassword" class="form-control">
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between align-items-center">
                            <td>Confirm Password :</td>
                            <td>
                                <input required type="password" formControlName="confirmPassword" class="form-control">
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-center">
                            <td colspan="2"><button type="submit" class="btn btn-primary mt-3"
                                    [disabled]="!passwordChangeForm.valid">
                                    Change Password
                                </button></td>
                            <td colspan="2">
                                <button type="button" class="btn btn-outline-primary mt-3" (click)="toggleForm()">
                                    Clear
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


    </div>
</div>