<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 border border-info rounded shadow px-5 py-4 mt-auto"
            style="position: absolute; top:50%; transform: translate(0, -50%)">
            <h2 class="text-center text-primary">Forgot password?</h2>
            <hr>
            <div class="shadow p-3">
                <input *ngIf="input" [(ngModel)]="inputMail" (keyup)="$event.keyCode == 13 && sendMail()"
                    placeholder="Enter email" type="email" class="form-control" autofocus>

                <div class="text-center">
                    <button *ngIf="input" (click)="sendMail()"
                        class="btn btn-primary mt-4 mb-2 px-5">Submit</button><br>
                </div>

                <p *ngIf="intruction">We’ve emailed you a token for setting your password, if an account exists with
                    the email you entered. You should receive them shortly. <br><br>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                    check your spam folder. <br>
                    Click next to create new password..<button class="text-info btn" (click)="openPasswordBox()"><u>next</u></button>
                </p>

                <div class="text-center" *ngIf="newPasswordBox">
                    <input [(ngModel)]="password" class="form-control mb-2" type="password" placeholder="Enter new password">
                    <small *ngIf="pwdNotMatch" class="text-danger">Password mismatch.</small>
                    <small *ngIf="pwdMatch" class="text-success">Password matched.</small>
                    <input (focusout)="passwordValidation($event)" (keyup)="pwdValidation($event)" class="form-control mb-2" type="password" placeholder="Confirm password">
                    <input [(ngModel)]="token" class="form-control mb-2" type="text" placeholder="Enter token received in your mail">
                    <button (click)="Submit()" class="btn btn-primary">Submit</button>
                </div>

            </div>

            <div class="text-center mt-3">
                <a routerLink="" class="text-decoration-none">
                    <span>Login?</span>
                </a>
            </div>
        </div>
    </div>

</div>